@use 'styles/design-system' as *;

.root {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: spacing(12) spacing(4);
  min-height: 100vh;
  overflow-y: auto;
}

.container {
  max-width: 1200px;
  width: 100%;
}

.title {
  margin-bottom: spacing(12);
}

.chartsGrid {
  display: grid;
  grid-template-columns: 1fr;
  gap: spacing(8);

  @media (min-width: 1040px) {
    grid-template-columns: repeat(2, 1fr);
    gap: spacing(12);
  }

  > * {
    min-width: 0;
  }
}
