.container {
  width: 100%;
  height: 100%;
  position: relative;
  background: transparent;
  border-radius: 4px;
}

.svg {
  width: 100%;
  height: 100%;
  cursor: grab;

  &:active {
    cursor: grabbing;
  }
}


