@use 'styles/design-system' as *;

.chartHeader {
  display: flex;
  flex-direction: column;
  margin-bottom: spacing(4);
  gap: spacing(1);
}

.chartTitle {
  margin: 0;
}

.chart {
  width: 100%;
  max-height: 650px;
  @include flex-center;

  > div {
    width: 100%;
    height: auto;
  }
}

.chartContainer {
  display: flex;
  flex-direction: column;
  gap: spacing(4);
}
