@use 'styles/design-system' as *;

.container {
  width: 100%;
}

.sensorCard {
  display: flex;
  flex-direction: column;
  gap: spacing(4);
  align-items: center;
}

.inputWrapper {
  width: 100%;
  max-width: 200px;
}

.input {
  width: 100%;
}

.chartContainer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  > div {
    max-width: 150px;
    max-height: 150px;
  }
}
