@use 'styles/design-system' as *;

.container {
  width: 100%;
  height: 100%;
  @include flex-center;
}

.svg {
  display: block;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
}
