@use 'styles/design-system' as *;

.container {
  width: 100%;
  height: 100%;
  position: relative;
  background: transparent;
  border-radius: radius(sm);
}

.svg {
  width: 100%;
  height: 100%;
  cursor: grab;

  &:active {
    cursor: grabbing;
  }
}
