.container {
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
  contain: layout style paint;
}

.canvas {
  display: block;
  max-width: 100%;
  max-height: 100%;
  will-change: contents;
  transform: translateZ(0);
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
}
