@use 'styles/design-system' as *;

.chartHeader {
  display: flex;
  flex-direction: column;
  margin-bottom: spacing(4);
  gap: spacing(1);
}

.chartTitle {
  margin: 0;
}

.chart {
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;

  > div {
    width: 100%;
    height: 100%;
  }

  :global(svg),
  :global(canvas) {
    display: block;
    width: 100%;
    height: 100%;
  }
}
