@use 'styles/design-system' as *;

.card {
  padding: spacing(4);
  border-radius: radius(lg);
  background-color: var(--color-slate-800-30);
  backdrop-filter: blur(4px);
  border: 1px solid var(--color-slate-600-20);
  width: 100%;
  min-width: 0;

  &:hover {
    transform: translateY(-4px) perspective(1000px) rotateX(2deg);
  }
}
