.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  contain: layout style paint;
}

.svg {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  will-change: transform;
  transform: translateZ(0);
}
