@use 'styles/design-system' as *;

.container {
  display: flex;
  flex-direction: column;
  gap: spacing(4);
  align-items: center;
  width: 100%;
}

.input {
  width: 200px;
  flex-shrink: 0;
}

.chartContainer {
  width: 100%;
  flex: 1;
  min-height: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
