@use 'styles/design-system' as *;

.container {
  width: 100%;
}

.sensorCard {
  display: flex;
  flex-direction: column;
  gap: spacing(4);
  align-items: center;
}

.inputWrapper {
  width: 100%;
  max-width: 200px;
}

.input {
  width: 100%;
}

.chartContainer {
  width: 100%;
  min-height: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  > div {
    margin-top: spacing(4);
    max-width: 200px;
    max-height: 200px;
    min-height: 0;
  }
}
