@use 'styles/design-system' as *;

.container {
  display: flex;
  flex-direction: column;
  gap: spacing(4);
  align-items: center;
  width: 100%;
  height: 100%;
}

.input {
  width: 200px;
}

.chartContainer {
  width: 100%;
  height: 100%;
  min-height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
